body {
   * {
      text-transform: uppercase;
      color: $color-text;
   }
   ul li {
      list-style: none;
   }
   a{
      text-decoration: none !important;
   }
}

@media (min-width: 1400px) {
   .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1320px;
   }
}

body {
   background-color: $color-bg;
}

.container0 {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 100vh;

   &.container1 {
      background-image: url("../../assets/home/01.jpg");
   }

   &.container2 {
      background-image: url("../../assets/home/03.jpg");
   }

   &.container3 {
      background-image: url("../../assets/home/02.gif");
   }
   &.container4 {
      background-image: url("../../assets/home/04.jpg");
   }
}

.shortTitle {
   text-shadow: 0px 0px 2px #FF0444;
   width: 550px;
}

.mediumTitle {
   text-shadow: 0px 0px 2px #FF0444;
   width: 650px;
}

.imgLogo {
   width: 240px;
}

header {
   font-size: 12px;
   font-weight: bold;

   #navbarSupportedContent {
      a {
         color: $color-text;
         transition: color 0.5s;

         &:hover {
            color: $hover-links;
         }
      }
   }
}

.height-container {
   height: 80vh;
}

.btn-plus {
   padding: $padding-button;
   margin-block: 50px;
}

.arrow-down{
   width: 90px;

   img {
      width: 100%;
   }
}

footer  {
   height: 15vh;
   ul {
      gap: 20px;
   }
   li{
      text-transform: none;
      color: $hover-links;
   }
   a{
      transition: color 0.5s;
      text-transform: none;
      &:hover {
         color: $hover-links;
      }
   }
}